/* Global */

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

    background-color: black;
}

#page, 
#pageIE {
    position: relative;
    min-height: 100vh;
}

#pageIE {
    color: white;
    text-align: center;
    padding-top: 20px;
}

#pageIE .pageie-logo {
    width: 180px;
    max-width: 90%;
}

@media screen and (min-width: 640px) {
    #page,
    #pageIE {
        padding-top: 40px;
    }
}

.container {
    max-width: 640px;
    margin: 0 auto;
}

.container-large {
    max-width: 1024px;
    margin: 0 auto;
}

.background-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background-color: rgba(12,12,12,0);
    opacity: 0.32;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;

    z-index: -1;
}

.is-hidden {
    display: none;
}

 /* Init */

#end-1,
#end-2
/*#share
#content, 
#footer*/ {
    display: none;
}

/* Videos */

.video-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.video-wrapper {
    position: relative;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 999;
}

.video-viewer {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.video-spinner {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #999;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    z-index: 9999;
}

.video-btns {
    display: none;
}

@media screen and (min-width: 640px) {
    .video-btns {
        position: absolute;
        width: 100%;
        bottom: 22%;
    }
}

.video-btns-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 0 10px;
}

@media screen and (min-width: 640px) {
    .video-btns-wrapper {
        margin: 0 auto;
        max-width: 400px;
    }
}

.video-btn + .video-btn {
    margin-top: 10px;
}

/* Sections */
.section-wrapper {
    padding: 20px;
}

@media screen and (max-width: 640px) {
    .section-nowrapper-down-md {
        padding: 0!important;
    }
}

@media screen and (min-width: 640px) {
    .section-wrapper {
        padding: 40px;
    }
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 0 0 20px 0;
}

.section-title_uppercase {
    text-transform: uppercase;
}
/* End section */

.section-end {
    color: white;
    text-align: center;
}

@media screen and (min-width: 640px) {
    .section-end {
        padding: 40px;

        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(255,255,255,0.36);
    }
}

.section-end-icon {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: #F89B12;
}

.section-end-body {
    padding: 20px;
}
@media screen and (min-width: 640px) {
    .section-end-body {
        padding: 0px;
    }
}

.section-end img {
    max-width: 100%;
    width: 100%
}

/* Share section */
.section-share {
    text-align: center;

    padding: 40px 0px 60px 0;
}
@media screen and (min-width: 640px) {
    .section-share {
        padding: 60px 0px 80px 0;
    }
}

.section-share-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: white;
}

.section-share-btn {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: white;

    border: 1px solid white;
    padding: 10px 15px;
}
.section-share-btn:not(:last-child) {
    margin-right: 20px; 
}

/* Section Contest */

@media screen and (min-width: 640px) {
    .section-aside-contest {
        background-color: #efefef;
        background-image: url(https://www.l214.com/wp-content/uploads/2019/11/bg-boked.jpg);
        background-size: cover;
    }
}

.section-contest {
    display: flex;
    flex-direction: column;
}

.section-contest-logo {
    width: 100%;
    max-width: 100%;
}

.section-contest-body {
    padding: 20px;
} 

@media screen and (min-width: 640px) {
    .section-contest-body {
        padding: 40px;
    } 
}

.section-contest-left,
.section-contest-right {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 50%;
}

.section-contest-left .section-contest-body {
    height: 100%;
    padding: 0;

    background-color: black;
}

.section-contest-left-text {
    font-size: 0.7rem;
    color: white;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
    padding: 0 20px 40px 20px;
}

@media screen and (min-width: 640px) {
    .section-contest-left-text {
        padding: 0 40px 40px 40px;
    } 
}

.section-contest-left-text a {
    color: white;
}

.section-contest-right {
    text-align: center;
    background-color: white;
}

.section-contest-right-logo {
    width: 75%;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .section-contest-right-logo {
        width: 50%;
    }  
}

.section-contest-right-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F89B12;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
    .section-contest-right-text {
        font-size: 1.4rem;
        margin-bottom: 40px;
    }  
}

.section-contest-right .section-contest-form {
    text-align: left;
}

@media screen and (min-width: 640px) {
    .section-contest-wrapper {
        padding: 40px 0px;
    }
    
    .section-contest {
        flex-direction: row;
    }

    .section-contest-left,
    .section-contest-right {
        width: 50%;
    }
}

/* Section VC */

.section-aside-vc {
    text-align: center;
    
    color: white;
    background-color: #F89B12;
}

.section-aside-vc-image {
    width: 75%;
}

@media screen and (min-width: 640px) {
    .section-aside-vc-image {
        width: 50%;
    }
}

.section-aside-vc-text {
    margin: 20px auto;
}

@media screen and (min-width: 640px) {
    .section-aside-vc-text {
        width: 50%;
    }
}

/* MC Form */
.mc-form * {
    box-sizing: border-box;
}

.mc-field-group + .mc-field-group {
    margin-top: 20px;
}

.mc-field-group label {
    display: block;
    margin-bottom: 10px;
}

.mc-field-group input[type="text"], 
.mc-field-group input[type="email"] {
    font-size: 16px;
    padding: 10px 5px;
    width: 100%;
}

.mc-field-group input[type="text"]:focus, 
.mc-field-group input[type="email"]:focus {
    outline: none !important;
    border: 1px solid #F89B12;
}

.mc-field-group.check-group *  {
    display: inline;
}

.mc-field-group.check-group label  {
    text-align: justify;
}

.mc-submit-wrapper {
    text-align: center;
    margin-top: 20px;
}

@media screen and (min-width: 640px) {
    .mc-submit-wrapper {
        margin-top: 40px;
    }
}

.mc-submit-wrapper button:disabled,
.mc-submit-wrapper button[disabled] {
    display: none;
}

.mc-status {
    margin-top: 20px;
}

.mc-status a {
    color: black;
} 

.mc-error {
    color: red;
    margin-top: 10px;
}
/* MC Validation */

.mc-form.submitting .loader {
    position: absolute;
    display: inline-block;

    width: 24px;
    height: 24px;
    vertical-align: middle;
    
    margin: 15px 10px 10px 20px;
}

.loader {
    display: none;

    position: absolute;
    top: calc( 50% - 50px );
    left: calc( 50% - 50px ) ;
    width: 50px;
    height: 50px;

    margin: 15px 10px 10px 20px;
}

.loader-quart-1 {
    border: 4px solid  #F89B12;
    border-radius: 50px;
}

.loader-quart-1:after {
    content: '';
    position: absolute;
    top: -4px; 
    left: -4px; 
    right: -4px; 
    bottom: -4px;

    border: 4px solid transparent;
    border-top-color: white;
    border-radius: 50px;
    
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation{
    0% { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100%{ -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes rotation{
    0% { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100%{ -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

/* Images */

.responsive {
    max-width: 100%;
    width: 100%;
}

/* Buttons */

.btn {
    position: relative;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    fill: #000000;
    color: #000000;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 12px;
    cursor: pointer;
    z-index: 9;
}

.btn_white_whover {
    background-color: rgba(255, 255, 255, 0.9);
}
.btn_white_whover:hover {
    background-color: white;
}

.btn_medium {
    font-size: 14px;
    padding: 10px 5px;
}

.btn_dark {
    background-color: black;
    color: white;
    border: none;
}

.btn_orange {
    background-color: #F89B12;
    color: white;
    border: none;
}

@media screen and (min-width: 640px) {
    .btn_medium {
        padding: 15px 10px;
    } 
}

/* Check boxes */
.checkbox {
    display: none!important;
}

.checkbox + label {
    position: relative;
    display: block;

    text-align: left;
    line-height: 22px;

    padding: 0;
    padding-left: 32px;
    margin: 0;

    background: none;
    border: 0;

    cursor: pointer;
}

.checkbox + label:before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 20px;
    height: 20px;

    border: solid 1px currentColor;
    border-radius: 3px;

    transition: all .12s, border-color .08s;
}   

.checkbox:checked + label {      
    color: inherit;
    background-color: transparent!important;

    border: none;
}

.checkbox:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;

    border-top-color: transparent!important;
    border-left-color: transparent!important;
    border-radius: 0;

    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Footer */
.footer {
    padding: 20px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 50px;
    overflow: hidden;
}

.footer-logo,
.footer-l214 {
    height: 50px;
}

.footer-link {
    margin-left: auto;
}

@media screen and (min-width: 640px) {
    .footer-wrapper {
        max-height: 75px;
    }
    .footer-logo,
    .footer-l214 {
        height: 75px;
    }
}
